<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total</title>
    {% block head %}
    <div style="width: 100%;font-size: xx-large;">
        The Total Expense :-
        <input type="text" style="padding: 10px;border: 2px solid black;text-align: center;font-size: x-large;" value="{{tot}}">

    </div>    
    {% endblock %}
</head>
<body>
    <!-- {% block body %}
        {% for i in info%}
            {{tot}}<br>    
        {% endfor%}
    {% endblock %}
     -->
     
</body>
</html>